

<p>Price {{this.price}}</p>

<p>{{this.formContent.firm_name}}</p>
<p>{{this.formContent.firm_address}}</p>
<p>{{this.formContent.firm_sector}}</p>
<p>{{this.formContent.tax_office}}</p>
<p>{{this.formContent.tax_id}}</p>
<p>{{this.formContent.representor_name}}</p>
<p>{{this.formContent.representor_surname}}</p>
<p>{{this.formContent.representor_email}}</p>
<p>{{this.formContent.representor_tel}}</p>
<p>{{this.formContent.main_number}}</p>
<p>{{this.formContent.contract_time}}</p>

<button class="btn btn-success" (click)="submitForm()">Onayla</button>
